

.menu button:hover{
	color:#7aa9c9;
	border-bottom-color:#6036bd;
}

.menu button:focus{  /*cind este apasat*/
	outline: 0;  /*stergem borderul exterior standart*/
	color:#6036bd;
}

hr{
	background-color: #6036bd;
	height:1px;
	border: 0;
}


